body { background: #766184; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 32px; display: flex; }
.block-token-0 { color: #112cd2; font-size: 19px; margin-bottom: 5px; }
.block-notify-1 { color: #152f12; font-size: 15px; margin-bottom: 5px; }
.block-shipping-2 { color: #9680c; font-size: 12px; margin-bottom: 5px; }
.block-product-3 { color: #4074f2; font-size: 21px; margin-bottom: 5px; }
.block-search-4 { color: #c58a90; font-size: 20px; margin-bottom: 5px; }
.block-cache-5 { color: #63a261; font-size: 13px; margin-bottom: 5px; }